.location-form-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-width: 550px;
	width: 50%;
}

@media screen and (min-width: 900px) {
	.location-form-wrapper {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.location-form-wrapper {
		width: 75%;
	}
}

@media screen and (max-width: 400px) {
	.location-form-wrapper {
		width: 90%;
	}
}

.location-bar-wrapper {
	width: 100%;
}

.location-detect-location {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 42px;
	width: 48px;
	margin-top: 17px;
	margin-right: 5px;
	border: 1px #757578 solid;
	border-radius: 10px;
	cursor: pointer;
	background-color: white;
}

.location-detect-location:active {
	background-color: #9e9e9e;
}
