.hourly-forecast-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: easein 0.5s;
	width: 100%;
	margin-top: 20px;
}

.hourly-forecast-summary {
	font-size: 18pt;
	font-weight: 500;
	width: 90%;
}

.hourly-forecast-bar {
	margin-top: 10px;
	width: 90%;
	max-width: 700px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	overflow: hidden;
}

.hourly-forecast-img {
	height: 100%;
	margin: auto;
}

.hourly-forecast-tickmarks {
	margin-bottom: 10px;
	width: 90%;
	height: 10px;
	max-width: 700px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.hourly-forecast-summary {
		font-size: 16pt;
	}
}

@media screen and (max-width: 400px) {
	.hourly-forecast-summary {
		font-size: 14pt;
	}
}

@keyframes easein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
